/* Mobile resizing */

/* @media only screen and (max-width: 768px) { */

/* overall div container of everything on screen */
/* .container{
    display: flex;
    justify-content: space-between;
    justify-content: center; 
    gap: 10px;
} */
/* container of boss & fighter + their status bars */
/* .models{
    /* display: grid;
    display: inline;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px; 
} */

/* desktop sizing */
/* container holding bossStatus & bossImg */
.bossContainer{
    /* grid-column: 1/2;
    grid-row: 1/1; */
    display: grid;
    grid-template-columns: 20vh 15vh 15vh; 
    grid-template-rows: 10vh 10vh 10vh ;
}
/* class that refers to bossName + bossHp combined */
.bossStatus{
    /* grid-column-start: 1;
    grid-column-end: 1; */
    padding: 0;
    /* grid-column: 1/1;
    grid-row: 1/1; */
}
.bossName{
    grid-column: 1/1;
    grid-row: 1/1;
    margin:5px;
}
.bossHp{
    grid-column: 1/1;
    grid-row: 2/2;
    margin:5px;
}

.bossImg{
    grid-column: 3/4;
    grid-row: 1/2;
    width: 20vh;
    height: 20vh;
    border: 2px solid black;
}

/* How do I toggle this to the images so that animations play when combat/healing is chosen? */
/* .combat{
    animation: animate__swing;
    animation-duration: 2s;
} */

/* container holding fighterStatus and fighterImg */
.fighterContainer{
    /* grid-column: 1/2;
    grid-row: 2/; */
    display: grid;
    grid-template-columns: 15vh 15vh 20vh; 
    grid-template-rows: 10vh 10vh 10vh ;
}

/* class that refers to fighterHp + fighterName combined */
.fighterStatus{
    /* grid-column-start: 2;
    grid-column-end: 2; */
    padding: 0;
    /* grid-column: 3/3;
    grid-row: 1/2; */
}
.fighterName{
    grid-column: 3;
    grid-row: 1;
    margin: 0;
}
.fighterHp{
    grid-column: 3;
    grid-row: 2;
    margin: 0;
}

.fighterImg{
    /* grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2; */
    grid-column: 1;
    grid-row: 2;
    width: 100px;
    height: 100px;
    /* height: 20vh; */
    margin:5px;
    border: 2px solid black;
}


.menu{
    /* grid-column: 1; */
    grid-row: 3;

}
/* } */