
/* Mobile resizing */

/* @media only screen and (max-width: 768px) { */
body{
    display: flex;
    justify-content: center;
    /* background-image:image("../img/dumpster-bg.jpg"); */
}

    .bossContainer{
        display: grid;
        grid-template-columns: 100px 100px 100px 100px; 
        grid-template-rows: 50px 50px 50px;
    }
    /* class that refers to bossName + bossHp combined */
    .bossStatus{
        padding: 0;
    }
    .bossName{
        grid-column: 1/1;
        grid-row: 1/1;
        margin: 1vh;
    }
    .bossHp{
        grid-column: 1/1;
        grid-row: 2/2;
        margin:1vh;
    }
    
    .bossImg{
        grid-column: 3/4;
        grid-row: 1/2;
        width: 100px;
        height: 100px;
        /* border: 0.5vh solid black; */
    }
    
    /* container holding fighterStatus and fighterImg */
    .fighterContainer{
        /* grid-column: 1/2;
        grid-row: 2/; */
        display: grid;
        grid-template-columns: 100px 100px 100px 100px; 
        grid-template-rows: 50px 50px 50px;
    }
    
    /* class that refers to fighterHp + fighterName combined */
    .fighterStatus{
        padding: 0;
    }
    .fighterName{
        grid-column: 3;
        grid-row: 1;
        margin: 0;
    }
    .fighterHp{
        grid-column: 3;
        grid-row: 2;
        margin: 0;
    }
    
    .fighterImg{
        display: flex;
        flex-flow: row;

        /* width: 100px;
        height: 100px; */
        /* margin: 5px; */
        /* border: 2px solid black; */
    }
    
    .fightSword{
        /* grid-column: 2;
        grid-row: 2; */
        width: 50px;
        height: 50px;
        /* display: inline-block; */
    }

    .fightMan{
        /* grid-column: 1;
        grid-row: 1; */
        width: 100px;
        height: 100px;
        /* display: inline-block; */
    }


    .fighterHeals{
        grid-column: 3;
        grid-row: 3;
    }
    
    .menu{
        margin: 5px
    }
    
    .turnTally{
        margin: 1px 1px;
    }




    .resultBack{
        left: 0;
        height: 120vh;
        width: 120vw;
        background-color: rgb(170, 190, 228);
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        top: 0;
    }
    .resultContainer{
        width: 40vw;
        height: 40vh;
        background-color: white;
        box-shadow: rgb(11, 14, 26);
        display: flex;
        flex-direction: column;
        padding: 25px;
    }
    .resultBtnDiv{
        display: flex;
        justify-content: flex-end;
    }
    .resultCloseBtn{
        color: black;
        font-size: 20px;
        background-color: transparent;
        border: none;
        margin: 5px;
    }
    .resultCloseBtn:hover{
        color: red;
        cursor: pointer;
    }
    .resultTitle{
        margin: 0px;
        margin: 0px;
    }
    .resultBody{
        margin: 5px;
    }
    
    .resultResetBtn{
        margin: 5px;
        background-color: rgb(96, 88, 177);
        color:rgb(255, 255, 255)
    }
/* } */

/* desktop sizing */
/* container holding bossStatus & bossImg */
/* .bossContainer{
    display: grid;
    grid-template-columns: 20vh 15vh 15vh; 
    grid-template-rows: 10vw 10vw 10vw ;
} */
/* class that refers to bossName + bossHp combined */
/* .bossStatus{
    padding: 0;
}
.bossName{
    grid-column: 1/1;
    grid-row: 1/1;
    margin: 5px;
}
.bossHp{
    grid-column: 1/1;
    grid-row: 2/2;
    margin: 5px;
}

.bossImg{
    grid-column: 3/4;
    grid-row: 1/2;
    width: 20px;
    height: 20px;
    border: 2px solid black;
} */

/* How do I toggle this to the images so that animations play when combat/healing is chosen? */
/* .combat{
    animation: animate__swing;
    animation-duration: 2s;
} */

/* container holding fighterStatus and fighterImg */
/* .fighterContainer{ */
    /* grid-column: 1/2;
    grid-row: 2/; */
    /* display: grid;
    grid-template-columns: 15vh 15vh 20vh; 
    grid-template-rows: 10vw 10vw 10vw ;
} */

/* class that refers to fighterHp + fighterName combined */
/* .fighterStatus{ */
    /* grid-column-start: 2;
    grid-column-end: 2; */
    /* padding: 0; */
    /* grid-column: 3/3;
    grid-row: 1/2; */
/* } */
/* .fighterName{
    grid-column: 3;
    grid-row: 1;
    margin: 0;
}
.fighterHp{
    grid-column: 3;
    grid-row: 2;
    margin: 0;
} */

/* .fighterImg{ */
    /* grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2; */
    /* grid-column: 1;
    grid-row: 2;
    width: 20vw;
    height: 20vh; */
    /* height: 20vh; */
    /* margin:5px;
    border: 2px solid black;
} */
/* 
.fighterHeals{
    grid-column: 3;
    grid-row: 3;
} */


/* .menu{ */
    /* grid-column: 1; */
    /* grid-row: 3; */
    /* margin: 5px

} */


/* .resultBack{
    height: 100vh;
    width: 100vw;
    background-color: rgb(170, 190, 228); */
    /* position: fixed; */
    /* display: flex;
    justify-content: center;
    align-items: center;
} */
/* .resultContainer{
    width: 40vw;
    height: 40wh;
    background-color: white;
    box-shadow: rgb(11, 14, 26);
    display: flex;
    flex-direction: column;
    padding: 25px;
}
.resultBtnDiv{
    display: flex;
    justify-content: flex-end;
}
.resultCloseBtn{
    color: black;
    font-size: 20px;
    background-color: transparent;
    border: none;
    margin: 5px;
}
.resultCloseBtn:hover{
    color: red;
    cursor: pointer;
}
.resultTitle{
    margin: 5px;
}
.resultBody{
    margin: 5px;
} */
/* .resultFooter{} */

/* .resultResetBtn{
    margin: 5px;
    background-color: rgb(96, 88, 177);
    color:rgb(255, 255, 255)
} */
